<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receipt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/receipt.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <!-- <p class="company-name">The Stallions</p> -->
    </div>
    <h1>Order Receipt</h1>
    <p>Order sent to kitchen. Printing Receipt.</p>
    <div id="receipt">
        <p><strong>Customer Name:</strong> {{ order.customer_name }}</p>
        <p><strong>Order Date:</strong> {{ order.datetime.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        <h2>Order Items</h2>
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><strong>Total Amount:</strong> {{ order.total_amount }}</p>
    </div>
    <button onclick="window.print()">Print Receipt</button>
    <a href="{{ url_for('main.orders') }}">Back to Orders</a>
</body>
</html>
